.hidden {
  display: none;
}

.d-flex {
  display:flex;
}

.content div:first-child{
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

.active {
  background-color: red;
}

.absolute {
  position: absolute;
}

.forms {
  right: 0px;
  top:0;
  width: 30%;
}